In [1]:
import timeit
import numpy as np
import pandas as pd

# 1.9.3

表1.2

In [2]:
x1 = np.array([63, 56, 51, 50, 42])
y1 = np.array([63, 66, 61, 60, 52])
df1 = pd.DataFrame({
    'x1':x1,
    'y1':y1
    })
df1

   x1  y1
0  63  63
1  56  66
2  51  61
3  50  60
4  42  52

In [3]:
"""
Rとの違い
以下はエラーが発生するのでできない
np.mean(x1 = np.array([63, 56, 51, 50, 42])) 
"""
np.array([63, 56, 51, 50, 42]).mean()

52.4

表1.3

## 蛇足

今現状で保存しているオブジェクト一覧の表示とかできたらいいな.  
--> 多すぎるから把握しきれないよ.  
`locals()`, `globals()` で確認することは一応できる.

In [4]:
display(locals())

{'__name__': '__main__',
 '__doc__': '\nRとの違い\n以下はエラーが発生するのでできない\nnp.mean(x1 = np.array([63, 56, 51, 50, 42])) \n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'import timeit\nimport numpy as np\nimport pandas as pd',
  "x1 = np.array([63, 56, 51, 50, 42])\ny1 = np.array([63, 66, 61, 60, 52])\ndf1 = pd.DataFrame({\n    'x1':x1,\n    'y1':y1\n    })\ndf1",
  '"""\nRとの違い\n以下はエラーが発生するのでできない\nnp.mean(x1 = np.array([63, 56, 51, 50, 42])) \n"""\nnp.array([63, 56, 51, 50, 42]).mean()',
  'display(locals())'],
 '_oh': {2:    x1  y1
  0  63  63
  1  56  66
  2  51  61
  3  50  60
  4  42  52,
  3: 52.4},
 '_dh': [PosixPath('/Users/domolm/Library/CloudStorage/GoogleDrive-domokomod5@gmail.com/My Drive/Learning/rakus/CI coding practice/Python'),
  PosixPath('/Users/domolm/Library/CloudStorage/GoogleDrive-domokomod5@gmail.com/My Drive/Learning/rakus/CI coding practice/Python')],
 'In': ['',
  'import timeit\nimport numpy as np\nimport pandas as pd',
  "x1 = np.array([63, 56, 51, 50, 42])\ny1 = np.array([63, 66, 61, 60, 52])\ndf1 = pd.DataFrame({\n    'x1':x1,\n    'y1':y1\n    })\ndf1",
  '"""\nRとの違い\n以下はエラーが発生するのでできない\nnp.mean(x1 = np.array([63, 56, 51, 50, 42])) \n"""\nnp.array([63, 56, 51, 50, 42]).mean()',
  'display(locals())'],
 'Out': {2:    x1  y1
  0  63  63
  1  56  66
  2  51  61
  3  50  60
  4  42  52,
  3: 52.4},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10c4dca60>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10c4de1d0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10c4de1d0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': 52.4,
 '__':    x1  y1
 0  63  63
 1  56  66
 2  51  61
 3  50  60
 4  42  52,
 '___': '',
 'sys': <module 'sys' (built-in)>,
 'os': <module 'os' from '/Users/domolm/.pyenv/versions/3.10.8/lib/python3.10/os.py'>,
 '__vsc_ipynb_file__': '/Users/domolm/Library/CloudStorage/GoogleDrive-domokomod5@gmail.com/My Drive/Learning/rakus/CI coding practice/Python/ch1.ipynb',
 '_i': '"""\nRとの違い\n以下はエラーが発生するのでできない\nnp.mean(x1 = np.array([63, 56, 51, 50, 42])) \n"""\nnp.array([63, 56, 51, 50, 42]).mean()',
 '_ii': "x1 = np.array([63, 56, 51, 50, 42])\ny1 = np.array([63, 66, 61, 60, 52])\ndf1 = pd.DataFrame({\n    'x1':x1,\n    'y1':y1\n    })\ndf1",
 '_iii': 'import timeit\nimport numpy as np\nimport pandas as pd',
 '_i1': 'import timeit\nimport numpy as np\nimport pandas as pd',
 'timeit': <module 'timeit' from '/Users/domolm/.pyenv/versions/3.10.8/lib/python3.10/timeit.py'>,
 'np': <module 'numpy' from '/Users/domolm/.pyenv/versions/3.10.8/lib/python3.10/site-packages/numpy/__init__.py'>,
 'pd': <module 'pandas' from '/Users/domolm/.pyenv/versions/3.10.8/lib/python3.10/site-packages/pandas/__init__.py'>,
 '_i2': "x1 = np.array([63, 56, 51, 50, 42])\ny1 = np.array([63, 66, 61, 60, 52])\ndf1 = pd.DataFrame({\n    'x1':x1,\n    'y1':y1\n    })\ndf1",
 'x1': array([63, 56, 51, 50, 42]),
 'y1': array([63, 66, 61, 60, 52]),
 'df1':    x1  y1
 0  63  63
 1  56  66
 2  51  61
 3  50  60
 4  42  52,
 '_2':    x1  y1
 0  63  63
 1  56  66
 2  51  61
 3  50  60
 4  42  52,
 '_i3': '"""\nRとの違い\n以下はエラーが発生するのでできない\nnp.mean(x1 = np.array([63, 56, 51, 50, 42])) \n"""\nnp.array([63, 56, 51, 50, 42]).mean()',
 '_3': 52.4,
 '_i4': 'display(locals())'}

In [5]:
# 変数だけでなく、モジュール名なども含めて名前を羅列する
dir()

['In',
 'Out',
 '_',
 '_2',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'df1',
 'exit',
 'get_ipython',
 'np',
 'open',
 'os',
 'pd',
 'quit',
 'sys',
 'timeit',
 'x1',
 'y1']

各変数がどの程度のメモリを消費しているかは調べることができる

In [6]:
df1.__sizeof__()

208

ちなみにちゃんと df1 が保存されているかを調べたりもできる

In [7]:
def exists_in_memory(obj):
    memory = 'locals()'
    for whereabouts in [locals().keys(), globals().keys()]:
        try:
            if 'obj' in whereabouts:
                print(f'{memory} には存在する。')
            else:
                print(f'{memory} には存在しない。')
        except Exception as err:
            print(f'メモリ内探索に関し、想定外のエラー: \n {err=} \n {type(err)=}')
        finally:
            memory = 'globals()'

    

exists_in_memory(df1)

locals() には存在する。
globals() には存在しない。

上のコードの実行時間は,   
11.4 µs ± 2.12 µs per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [8]:
def exists_in_memory(obj):
    i = 0
    memory = ['locals()', 'globals()']
    
    while i <= 1:
        try:
            if 'obj' in eval(memory[i]+'.keys()'):
                print(f'{memory[i]} には存在する。')
            else:
                print(f'{memory[i]} には存在しない。')
        except Exception as err:
            print(f'メモリ内探索に関し、想定外のエラー {err=}, \n {type(err)=}')
        finally:
            i += 1

    

exists_in_memory(df1)

locals() には存在する。
globals() には存在しない。

上のコードの実行時間は,    
106 µs ± 45.7 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)   
-> while 文って遅いのね

## 1.9.3 戻る

基本的に Python は明示的にメモリを解放する必要は無いらしい.  
よっぽどメモリ的に重いコードを使わない限りは, gc.collect() は気にしなくて良いのかも.

In [9]:
import gc

# オブジェクトの削除
del df1
# メモリの解放
gc.collect()

160

In [10]:
data01 = pd.read_csv("../causality-main/data01.csv")
data01.head()

   x1  y1
0  63  63
1  56  66
2  51  61
3  50  60
4  42  52

In [11]:
data01.describe()

              x1        y1
count   5.000000   5.00000
mean   52.400000  60.40000
std     7.765307   5.22494
min    42.000000  52.00000
25%    50.000000  60.00000
50%    51.000000  61.00000
75%    56.000000  63.00000
max    63.000000  66.00000

# 1.9.4

In [12]:
"""
data01[2, :]
これはエラーになる
"""
data01.iloc[2, :]

x1    51
y1    61
Name: 2, dtype: int64

In [13]:
data01.iloc[:, 1]

0    63
1    66
2    61
3    60
4    52
Name: y1, dtype: int64

In [14]:
data01.iloc[0:len(data01), 1]

0    63
1    66
2    61
3    60
4    52
Name: y1, dtype: int64

In [15]:
data01.iloc[2, 1]

61

In [16]:
# numpy: mean()
np.mean(data01.x1)
# pandas: mean()
data01['x1'].mean()

52.4

In [17]:
# numpy: defaultだとddof=0になっている
np.std(data01['x1'])

6.945502141674135

In [18]:
# pandas: default ddof=1
data01.x1.std()

7.76530746332687

In [19]:
# numpy: default ddof=0
np.std(data01.y1, ddof=1)
# pandasはdefaultがddof=1
data01.y1.std()

5.224940191045253

In [20]:
output = np.empty([2, 2])
for e in range(2):
    output[e, 0] = np.mean(data01.iloc[:,e])
    output[e, 1] = data01.iloc[:, e].std() #OR np.std(ddof=1)
output

array([[52.4       ,  7.76530746],
       [60.4       ,  5.22494019]])

In [21]:
display(pd.concat([data01.mean(), data01.std()], axis=1))

       0         1
x1  52.4  7.765307
y1  60.4  5.224940