Rをまず起動できるようにする。以下のコードをR上で起動する。JupyterNotebookではなく。

In [1]:
# install.packages('IRkernel')
IRkernel::installspec()

# 1.9.3
データの入力方法

表1.2

In [2]:
x1 <- c(63, 56, 51, 50, 42)
y1 <- c(63, 66, 61, 60, 52)
df1 <- data.frame(x1, y1)
df1 # print() をしないと, Parse Error が出る。Katex の設定が原因っぽい。

  x1 y1
1 63 63
2 56 66
3 51 61
4 50 60
5 42 52

In [3]:
# <-と＝の違い
mean(x1 <- c(63, 56, 51, 50, 42))
# 以下はエラーが出る
# mean(x1 = c(63, 56, 51, 50, 42))

[1] 52.4

表1.3

In [4]:
# ワークスペースをきれいにする. pythonだと直接同じことが1行でできるコードは
# 無さそう？あれば教えてください
rm(list = ls())
#rm(list <- ls()) #エラー。ここでは<-は使えないらしい


#VSCode上だと以下のコードは普通にパスを求められる.
#あと、jupyter notebookだと上手く行かないみたい
#多分
#data01 <- read.csv(file.choose())

tbl_df 型, tbl 型 は便利.   
それらを扱える`dplyr` というパッケージは便利(`tidyverse` という複数のパッケージをまとめたパッケージに入っている).  

readr::read_csv() で csv ファイルを読み込むと良いよ.  
-> tbl_df, tbl, data.frame というクラスを継承するデータになる.  
-> 詳しくはこれらをチェック.  
-> [基本的解説](https://www.jaysong.net/RBook/datastructure.html#RN4Etibble%E5%9E%8B)  
-> [発展的解説: オブジェクト指向](https://www.jaysong.net/RBook/oop.html#RN4E%E7%B6%99%E6%89%BF)  

**覚えておくべきは、データを読み込むときは, とりあえず`library(tidyverse)` して `read_csv()` をすれば良いということ.**

In [5]:
# readrパッケージのread_csvもある
# 以下引用
# read.csv()で読み込まれた表は data.frame クラスに、read_csv()関数で読み込まれた表は tibble クラスとして保存される。
# 宋, 矢内(2022). 私たちのR: ベストプラクティスの探究.
# https://www.jaysong.net/RBook/io.html#fn31

# install.packages('tidyverse')
library('tidyverse')
data01 <- read_csv("../causality-main/data01.csv")
head(data01)

-- Attaching packages --------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.4.0      v purrr   0.3.5
v tibble  3.1.8      v dplyr   1.0.10
v tidyr   1.2.1      v stringr 1.4.1
v readr   2.1.3      v forcats 0.5.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Rows: 5 Columns: 2
-- Column specification --------------------------------------------------------
Delimiter: ","
dbl (2): x1, y1

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  x1 y1
1 63 63
2 56 66
3 51 61
4 50 60
5 42 52

In [6]:
summary(data01)

       x1             y1
 Min.   :42.0   Min.   :52.0
 1st Qu.:50.0   1st Qu.:60.0
 Median :51.0   Median :61.0
 Mean   :52.4   Mean   :60.4
 3rd Qu.:56.0   3rd Qu.:63.0
 Max.   :63.0   Max.   :66.0

# 1.9.4

In [7]:
# pythonとRの参照の違い
data01[3, ]
# data01[3, :] # これはエラーになる



# """
# ちなみに、docstring (triple quotations)は Python の記法なので、R では使えないことに注意。
# """

  x1 y1
1 51 61

In [8]:
data01[, 2]
data01[1:length(as.data.frame(data01)[, 2]), 2] #これはエラーにならない
data01[3, 2]

  y1
1 63
2 66
3 61
4 60
5 52

  y1
1 63
2 66
3 61
4 60
5 52

  y1
1 61

In [9]:
mean(data01$x1)
sd(data01$x1) #default ddof=1

[1] 52.4

[1] 7.765307

In [10]:
mean(data01$y1)
sd(data01$y1) #default ddof=1

[1] 60.4

[1] 5.22494

In [11]:
#read.csvとread_csvの違い
mean(data01[, 1]) #NAになる. #理由は多分tibbleクラス(list)で格納されているため.
#read.csvで保存すればdf[,1]でも変数の指定が可能
data001 <- read.csv("../causality-main/data01.csv")
mean(data001[, 1])
#もしくは直接変数の型を変更すれば良い
mean(as.data.frame(data01)[, 1])

Warning message in mean.default(data01[, 1]):
"argument is not numeric or logical: returning NA"

[1] NA

[1] 52.4

[1] 52.4

In [12]:
output <- matrix(NA, 2, 2)
for(j in 1:2){ #forの後の#ofloopは()で囲わないといけない
    output[j, 1] <- mean(data001[, j])
    output[j, 2] <- sd(data001[, j])
}
output

     [,1] [,2]
[1,] 52.4 7.765307
[2,] 60.4 5.224940

In [13]:
#for loopの代わりにapplyも使える
apply(data01, 2, mean) #ここでは普通にtibble型の変数でも使える
apply(data01, 2, sd)

  x1   y1
52.4 60.4

      x1       y1
7.765307 5.224940